
<div class="container"
fxLayout="row"
fxLayout.sm="column"
fxLayout.xs="column"
fxLayoutAlign.gt-md="space-around center"
fxLayoutGap="10px" 
fxLayoutGap.xs="0">

<div fxFlex="40">
    <mat-card >
        <mat-card-header>
            <mat-card-title>
                <h3>{{dish.name | uppercase}}</h3>
            </mat-card-title>
        </mat-card-header>
        <img mat-card-image src={{dish.image}} alt={{dish.name}}>
        <mat-card-content>
            <p>{{dish.description}}</p> 
        </mat-card-content>
        <mat-card-actions>
            <button mat-button class="btn ">LIKE</button>
            <button mat-button class="btn ">SHARE</button>

        </mat-card-actions>
    </mat-card>
</div>



<div fxFlex="40">
            <h1>Comments</h1>
    <mat-list *ngFor="let listComment of dish.comments">

        <mat-list-item >
          <p matLine>{{listComment.comment}}</p>
          <p matLine>{{listComment.rating}} Stars</p>
          <p matLine>--{{listComment.author}},{{listComment.date |date }}</p>
         </mat-list-item>
    </mat-list>




</div>



</div>