/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "variables";
@import "../node_modules/font-awesome/scss/font-awesome";


// some basic resets
body {
  padding: 0px;
  margin: 0px;
  font-family: Roboto, sans-serif;
}
.container {
  margin: 20px;
  display: flex;
}

.flex-spacer {
  flex: 1 1 auto;
}

.highlight {
    background-color: bisque;
    border: 1px solid blueviolet;
    z-index: 1;
    transform: scale(1.02);
    -webkit-transform: scale(1.02);
    -moz-transform: scale(1.02);
    -ms-transform: scale(1.02);
    -o-transform: scale(1.02);
}

.background-primary {
  background-color: #512DA8;
}
.background-accent {
  background-color:  #FFC107;
}
.text-floral-white {
  color:#FFFFFF;
}

