/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "variables";
@import "../node_modules/font-awesome/scss/font-awesome";

// some basic resets
body {
  padding: 0px;
  margin: 0px;
  font-family: Roboto, sans-serif;
}
.container {
  margin: 20px;
  display: felx;
}

.flex-spacer {
  flex: 1 1 auto;
}
