/* You can add global styles to this file, and also import other style files */


// some basic resets
body {
  padding: 0px;
  margin: 0px;
  font-family: Roboto, sans-serif;
}
.container {
  margin: 20px;
  display: felx;
}

.flex-spacer {
  flex: 1 1 auto;
}

.background-primary {
  background-color: #512DA8;
}
.background-accent {
  background-color:  #FFC107;
}
.text-floral-white {
  color:#FFFFFF;
}



@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "variables";
@import "../node_modules/font-awesome/scss/font-awesome";